<footer class="topnav">
    <div class="footer-copyright">
        <div class="container">
        All articles belong to <a href="https://www.theverge.com/" target="_blank">the Verge</a>
        <a href="grey-text text-lighten-4 right" href="/artical-json">Artical JSON</a>
        </div>
       </div>
    </nav>
    
 