<nav>
    <div class="nav-wrapper topnav">
    <a href="/" class="brand-logo ceneter">Scraper News Network</a>
    <ul class="right" id="nav-mobile">
    <li><a href="/scrape">Scrape</a></li>
    <li><a href="https://github.com/mokosol/Mongo">Git Repo</a></li>
    </ul>
    </div>
    </nav>
    
 